.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // transform-origin: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 1s ease-out;
  }

  .slider-item:nth-child(1) {
    background-image: url("../img/1.jpg");
  }

  .slider-item:nth-child(2) {
    background-image: url("../img/2.jpg");
  }
  .slider-item:nth-child(3) {
    background-image: url("../img/3.jpg");
  }
  .slider-item:nth-child(4) {
    background-image: url("../img/4.jpg");
  }
}
